html {
    font-family: 'Vazir', sans-serif;
    direction: rtl;
    height: 100%;
    margin: 0;
    padding: 0;
}

.clearFix {
    clear: both;
}

body {
    background-image: url(../imgs/Background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: -260px 260px;
    background-size: 70%;
    background-color: #7878bc;
    
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    min-height: 100%;
    position: relative;
}

header {
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    height: 100px;
    border-bottom: 2px;
    border-style: solid;
    border-color: white;
/*    position: fixed;*/
}

.headerItem {
    height: 100%;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 27px;
    color: white;
    overflow: hidden;
}

#companyLogo {
    float: right;
    width: 15%;
    height: 100%;
}

.img {
    height: 100%;
}

#companyName {
    float: right;
/*    width: 20%;*/
/*    text-align: center;*/
    font-size: 37px;
}

#registered {
    font-size: 18px;
}

#main {
    width: 60%;
    margin: 0 auto;
/*    height: 1000px;*/
    padding-bottom: 60px;
    margin-top: 100px;
}

#right {
    width: 50%;
    height: 100%;
    float: right;
    padding-left: 10px;
}

#left {
    width: 40%;
    float: left;
    line-height: 45px;
}

#ticketType {
    margin: 0 auto;
    width: 100%;
    height: 60px;
    border: 1px;
    border-style: solid;
    border-color: white;
    border-radius: 8px;
    text-align: center;
    line-height: 60px;
    font-size: 25px;
    background-color: #37326d;
    overflow: hidden;
}

#rightTicketType {
    float: right;
    width: 50%;
    height: 100%;
    border-left: 1px;
    border-style: solid;
    background-color: white;
    color: black;
}

#leftTicketType {
    float: right;
    width: 50%;
    color: white;
}

#leftTicketType:hover {
    background-color: #919191;
}

#searchBox {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    background-color: #37326d;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.search-box-row {
    font-size: 20px;
    height: 65px;
    line-height: 50px;
    margin-top: 5px;
    margin-right: 15px;
    padding-left: 0;
}

.first-row {
    margin-top: 15px;
}

.right-logo {
    float: right;
    font-size: 30px;
    margin-left: 3px;
    width: 10%;
    margin-right: 10px;
    line-height: 40px;
}

.right-name {
    float: right;
    width: 18%;
/*    padding-right: 10px;*/
    line-height: 40px;
}

.right-list {
    font-family: 'Vazir', sans-serif;    
    color: black;
    float: right;
    width: 65%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    padding-right: 5px;    
}

.date {
    text-align: left;
    padding-left: 10px;
}

#age-types {
    width: 95%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;
}

.age-entity {
    float: right;
    width: 30%;
    height: 80px;
    margin-left: 20px;
}

.last {
    margin-left: 0;
}

.age-type-text {
    text-align: center;
    margin-bottom: 12px;
    font-size: 13px;
}

.age-type-icon {
    font-size: 2px;
    float: right;
    padding-top: 4px;
    padding-right: 20px;
    padding-left: 15px;
/*    line-height: 100px;*/
/*    margin-left: 5px;*/
}

.small-icon {
    padding-top: 13px;
}

.number-of-tickets {
    font-size: 25px;
    font-family: Vazir, sans-serif;
    padding-right: 10px;
    height: 45px;
    width: 50%;
    border-radius: 5px;
    float: right;
}

#search-button {
    font-family: Vazir;
    color: white;
    font-size: 25px;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 60px;
    background-color: #ff9f82;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#search-button:hover {
    background-color: #ffb39c;
    cursor: pointer;
}

#search-button:active {
    box-shadow: inset 0px 0px 2px 1.5px #6f6262;
}

#slider-container {
/*    margin: 0 auto;*/
/*    width: 100%;*/
    height: 420px;
    overflow: hidden;
}

#slider {
/*    width: 350px;*/
/*    height: 491px;*/
/*    width: 100%;*/
/*    height: 100%;*/
    margin: 0 auto;
    max-height: 100%;
/*    max-width: 100%;*/
}


#slogan {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: white;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    color: white;
    line-height: 60px;
}


/* Dropdown */

#user {
    float: left;
    width: 15%;
    text-align: center;
    line-height: 100px;
/*    height: 10px;*/
}

#userLogo {
    font-size: 38px;
    margin-left: 0;
    padding-left: 0;
}

#user-name {
    float: left;
    font-size: 23px;
    overflow: hidden;
}


.drop-button {
    border: none;
    cursor: pointer;
    height: 100%;
}

.dropdown {
    height: 100%;
    line-height: 100px;
    text-align: center;
    margin: 0 auto;
    font-size: 20px;
    color: white;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
/*    height: 10px;*/
    box-shadow: 0px 2px 4px 0px grey;
    font-size: 80%;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    height: 70px;
/*    padding: 12px 16px;*/
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: #eeeeee !important;
    color: black !important;
}

.dropdown-content a:active {
    background-color: #d3d3d3 !important; 
        color: black !important;

}

.dropdown:hover .dropdown-content {
    display: block;
}


/*
SLIDER
*/

#slider {
    width: 350px;
    height: 491px;
    margin: 0 auto;
}

.photo {
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    animation: fade 32s infinite;
    -webkit-animation:fade 32s infinite;
    opacity: 0;
}

@keyframes fade {
    12.5%   {opacity: 1;}
    20%     {opacity: 0;}
}

@-webkit-keyframes fade {
  12.5%{opacity:1;}
    20%{opacity:0;}
}

.firstanimation {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}
.secondanimation {
    animation-delay: 4s;
    -webkit-animation-delay: 4s;
}

.thirdanimation {
    animation-delay: 8s;
    -webkit-animation-delay: 8s;
}

.fourthanimation {
    animation-delay: 12s;
    -webkit-animation-delay: 12s;
}

.fifthanimation {
    animation-delay: 16s;
    -webkit-animation-delay: 16s;
}
.sixthanimation {
    animation-delay: 20s;
    -webkit-animation-delay: 20s;
}
.seventhanimation {
    animation-delay: 24s;
    -webkit-animation-delay: 24s;
}
.eighthanimation {
    animation-delay: 28s;
    -webkit-animation-delay: 28s;
}

#slider:hover .photo{
   animation-play-state: paused;
    -webkit-animation-play-state: paused;
}
