<div id="container">
    <header>
        <div id="companyLogo" class="headerItem">
            <img alt="logo" src="imgs/LogoBlack.png" class="img">
        </div>
        <div id="companyName" class="headerItem">
            <i>اکبر تیکت</i>
            <i class="fa fa-registered" aria-hidden="true" id="registered"></i></div>
        <div id="user" class="dropdown">
            <div class="drop-button">
                <i class="fa fa-user" aria-hidden="true" id="userLogo"></i>
                <i id="user-name">نام کاربر</i>
            </div>
            <div class="dropdown-content">
                <a href="#">پروفایل</a>
                <a href="#">تنظیمات</a>
                <a href="#">خروج</a>
            </div>
        </div>
    </header>

    <div class="container">
        <section id="steps">
            <i class="step hiden" >جستجوی پرواز</i>
            <i class="step fa fa-chevron-left hiden" ></i>
            <i class="step hiden" >انتخاب پرواز</i>
            <i class="step fa fa-chevron-left hiden" ></i>
            <i class="step active" >ورود اطلاعات</i>
            <i class="step fa fa-chevron-left active hiden" ></i>
            <i class="step hiden" >دریافت بلیت</i>
        </section>

        <section id="reserve-main">
            <div id="control-bar">
                <div id="back">
                    <i class="step fa fa-arrow-right" ></i>
                    <i class="step" >بازگشت به صفحه نتایج</i>
                </div>
                <div id="time">
                    <i>زمان باقیمانده:  </i>
                    <i class="red">۰۴:۵۹</i>
                </div>
            </div>
            <div id="main-grey">
                <div id="fight-label">مشخصات پرواز انتخابی شما</div>
                <div class="row" id="ticket-info">
                    <div class="col-md-3" id="agency-date">
                        <div class="info">
                            <i class="step fa fa-suitcase" ></i>
                            <i >{{flight.seatClassName}}</i>
                        </div>
                        <div class="info">
                            <i class="step fa fa-plane" ></i>
                            <i >{{flight.planeModel}}</i>
                        </div>
                    </div>
                    <div class="col-md-6" id="from-to">
                        <i class="step" >{{flight.origin | city }} {{flight.departureTime | time}}</i>
                        <i class="step fa fa-angle-double-left" ></i>
                        <i class="step" >{{flight.dest | city}} {{ flight.arrivalTime | time}}</i>
                    </div>
                    <div class="col-md-3" id="class-plane">
                        <div class="info">
                            <i class="step fa fa-eur" ></i>
                            <i >{{flight.airlineCode}}</i>
                        </div>
                        <div class="info">
                            <i class="step fa fa-calendar-o" ></i>
                            <i >{{flight.date}}</i>
                        </div>
                    </div>
                </div>
                <div id="payment-label">صورتحساب سفر</div>
                <div id="payment" >
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="text-right"></th>
                            <th class="text-right">به ازای هر نفر</th>
                            <th class="text-right">تعداد</th>
                            <th class="text-right">مجموع</th>
                        </tr>
                        </thead>
                        <tbody id="table-body">
                        <tr>
                            <td class="text-right">بزرگسال</td>
                            <td class="text-right">{{adultFee | rial}}</td>
                            <td class="text-right">
                                <select ng-init="numAdults=adults" ng-model="numAdults" id="adults">
                                    <option value="1">۱</option>
                                    <option value="2">۲</option>
                                    <option value="3">۳</option>
                                    <option value="4">۴</option>
                                    <option value="5">۵</option>
                                </select>
                                نفر
                            </td>
                            <td class="text-right">{{adultFee * numAdults | rial}}</td>
                        </tr>
                        <tr>
                            <td class="text-right">کودکان زیر ۱۲سال</td>
                            <td class="text-right">{{childFee | rial}}</td>
                            <td class="text-right">
                                <select ng-init="numChildren=children" ng-model="numChildren" id="children">
                                    <option value="1">۱</option>
                                    <option value="2">۲</option>
                                    <option value="3">۳</option>
                                    <option value="4">۴</option>
                                    <option value="5">۵</option>
                                </select>
                                نفر
                            </td>
                            <td class="text-right">{{childFee * numChildren | rial}}</td>
                        </tr>
                        <tr>
                            <td class="text-right">نوزاد زیر ۳ سال</td>
                            <td class="text-right">{{infantFee | rial}}</td>
                            <td class="text-right">
                                <select ng-init="numInfants=infants" ng-model="numInfants"  id="infants">
                                    <option value="1">۱</option>
                                    <option value="2">۲</option>
                                    <option value="3">۳</option>
                                    <option value="4">۴</option>
                                    <option value="5">۵</option>
                                </select>
                                نفر
                            </td>
                            <td class="text-right">{{infantFee * numInfants | rial}}</td>
                        </tr>
                        <tr id="sum">
                            <td class="text-right">مجموع</td>
                            <td></td>
                            <td></td>
                            <td class="text-right">{{adultFee * numAdults + infantFee * numInfants + childFee * numChildren | rial}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div id="passengers-label">اطلاعات</div>
                <form id="passengers" ng-submit="submitPassengers()" novalidate>
                    <div ng-repeat="x in makeArray(numAdults) track by $index" class="row info-fields">
                        <div class="col-md-2 col-md-push-10 velvet">
                            <i class="step fa fa-male " ></i>
                            <i > {{$index + 1}} - بزرگسال</i>
                            <!-- <i> بزرگسال</i> -->
                        </div>
                        <div class="col-md-2 col-md-push-6">
                            <select list="genders" class="field" ng-model="adultsGenders[$index]">
                                <option value="male">آقای</option>
                                <option value="female">خانم</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-md-push-2">
                            <input class="field" placeholder="نام (انگلیسی)" ng-model="adultsNames[$index]" ng-minlength="3">
                        </div>
                        <div class="col-md-3 col-md-pull-3" >
                            <input class="field" placeholder="نام‌خانوادگی (انگلیسی)" ng-model="adultsSurnames[$index]" ng-minlength="3">
                        </div>
                        <div class="col-md-3 col-md-pull-9">
                            <input class="field" placeholder="شماره ملی" ng-model="adultsIds[$index]" ng-minlength="10" ng-maxlength="10" ng-pattern="/^-?[0-9][^\.]*$/">
                        </div>
                    </div>
                    <div ng-repeat="y in makeArray(numChildren) track by $index" class="row info-fields">
                        <div class="col-md-2 col-md-push-10 velvet">
                            <i class="step fa fa-child " ></i>
                            <i >{{$index + adultsSize() + 1}}- خردسال</i>
                            <!-- <i > خردسال</i> -->
                        </div>
                        <div class="col-md-2 col-md-push-6">
                            <select list="genders" class="field" ng-model="childrenGenders[$index]">
                                <option value="male">آقای</option>
                                <option value="female">خانم</option>
                            </select>
                        </div>
                        <d2iv class="col-md-2 col-md-push-2">
                            <input class="field" placeholder="نام (انگلیسی)" ng-model="childrenNames[$index]" ng-minlength="3">
                        </d2iv>
                        <div class="col-md-3 col-md-pull-3" >
                            <input class="field" placeholder="نام‌خانوادگی (انگلیسی)" ng-model="childrenSurnames[$index]" ng-minlength="3">
                        </div>
                        <div class="col-md-3 col-md-pull-9">
                            <input class="field" placeholder="شماره ملی" ng-model="childrenIds[$index]" ng-minlength="10" ng-maxlength="10" ng-pattern="/^-?[0-9][^\.]*$/">
                        </div>
                    </div>

                    <div ng-repeat="z in makeArray(numInfants) track by $index" class="row info-fields">
                        <div class="col-md-2 col-md-push-10 velvet">
                            <i class="step fa fa-child small-icon" ></i>
                            <i >{{ $index + childSize() + adultsSize() + 1}}- نوزاد</i>
                            <!-- <i >نوزاد</i> -->
                        </div>
                        <div class="col-md-2 col-md-push-6">
                            <select list="genders" class="field" ng-model="infantsGenders[$index]">
                                <option value="male">آقای</option>
                                <option value="female">خانم</option>
                            </select>
                        </div>
                        <div class="col-md-2 col-md-push-2">
                            <input class="field" placeholder="نام (انگلیسی)" ng-model="infantsNames[$index]" ng-minlength="3">
                        </div>
                        <div class="col-md-3 col-md-pull-3" >
                            <input class="field" placeholder="نام‌خانوادگی (انگلیسی)" ng-model="infantsSurnames[$index]" ng-minlength="3" >
                        </div>
                        <div class="col-md-3 col-md-pull-9">
                            <input class="field" placeholder="شماره ملی" ng-model="infantsIds[$index]" ng-minlength="10" ng-maxlength="10">
                        </div>
                        <h1>{{passengers.$valid}}</h1>
                    </div>
                    <button type="submit" class="btn-submit" value="پرداخت و ثبت نهایی">
                        <i>پرداخت و ثبت نهایی</i>
                        <i class="step fa fa-angle-left" ></i>
                    </button>
                    <button type="submit" class="btn-cancel">انصراف</button>
                </form>
            </div>
        </section>
    </div>
    <div id="footer">
        <p>سیدعلی اخوانی - بهزاد اوسط | دانشکده‌ی فنی دانشگاه تهران</p>
    </div>
</div>